# Dirs

# Assignment_01 Ignore
A1_Kinematics/.vs/
A1_Kinematics/_bu/
A1_Kinematics/build/intermediate/
A1_Kinematics/ext/

# Assignment_02 Ignore
A2_MassSpringCloth/.vs/
A2_MassSpringCloth/build/intermediate/

# Assignment_03 Ignore
A3_SPHFluid/.vs/
A3_SPHFluid/build/intermediate/


# File types
*.vc.db
*.vc
*.obj
*.pdb
*.idb

